body {
  font-family: "Arial", sans-serif;
  background: #282c34;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  border-radius: 10px;
  background: #1e1e1e;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: #61dafb;
}
#display {
  margin: 20px 0;
  font-size: 1.5rem;
  background: #333;
  padding: 10px;
  border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding-top: 23px;
}

.controls button {
  background: #61dafb;
  border: none;
  color: #000;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.controls button:hover {
  background: #21a1f1;
}

.controls button:active {
  transform: scale(0.95);
}

input[type="range"] {
  width: 80px;
  margin: 10px 0;
}

.whole-drum {
  padding: 12px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.drum-pad {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 5px;
  background: #61dafb;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.drum-pad:hover {
  background: #21a1f1;
}

.drum-pad:active {
  transform: scale(0.95);
}

.clip {
  display: none;
}

button {
  cursor: pointer;
}
